*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}
a {
  text-decoration: none;
  transition: all 0.3s ease;
}
nav {
  position: relative;
}
nav span svg {
  position: absolute;
  z-index: -1;
  top: -4vh;
}
.left a {
  position: absolute;
  padding: 1rem;
  z-index: 1000;
  top: 15px;
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(19, 17, 36);
}

.nav-list {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.nav-list a {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: rgb(19, 17, 36);
}
.nav-list a:hover {
  font-size: 2rem;
  padding: 1rem 2rem;
  color: white;
  background: linear-gradient(45deg, #19c5e1, #f209fe);
  border-radius: 6px;
}
.use {
  font-size: 2rem;
  padding: 0.5rem 1.2rem;
  background: linear-gradient(45deg, #19c5e1, #f209fe);
  border-radius: 4px;
  color: white;
}
li {
  list-style: none;
  padding: 1rem;
}

.hamburger {
  display: none;
  position: absolute;
  z-index: 1002;
  top: 15px;
  right: 30px;
  user-select: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 33px;
  height: 5px;
  margin-bottom: 5px;
  background-color: #d6c6c6;
  border-radius: 6px;
  z-index: 1000;
  transform-origin: 0 0;
  transition: 0.4s;
}
.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: #ffd500;
}
.hamburger.active span:nth-child(1) {
  transform: translate(0, -2px) rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  transform: translate(-4px, 2px) rotate(-45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}
.hamburger.active:hover span {
  background: #2c2525;
}
/* waves animation */

.section {
  position: relative;
  margin-top: -4px;
  height: 150px;
  overflow-x: hidden;
}
.section .wave {
  position: absolute;
  top: 1%;
  right: 0%;
  height: 100px;
  width: 100vw;
  background: url(./img/Vector\ 10.svg);
  background-size: 900px 100px;
}
.section .wave.wave1 {
  animation: animate 30s alternate-reverse infinite;
  z-index: 100;
  opacity: 1;
  animation-delay: -5s;
  top: 0;
}
.section .wave.wave2 {
  animation: animate2 15s alternate-reverse infinite;

  z-index: 99;
  opacity: 0.2;
  animation-delay: 2s;
  top: 10px;
}
.section .wave.wave3 {
  animation: animate2 10s alternate-reverse infinite;
  z-index: 98;
  opacity: 0.3;
  animation-delay: 5s;
  top: 15px;
}
.section .wave.wave4 {
  animation: animate2 5s infinite alternate-reverse;
  z-index: 98;
  opacity: 0.3;
  animation-delay: 1s;
  top: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: 100px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: -1000px;
  }
}

main::after {
  content: "";
  position: absolute;
  top: 0%;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  clip-path: polygon(0 0, 100% 0, 100% 53%, 0% 100%);
}

main.hero {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
main.hero h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: white;
}
main.hero h2 {
  font-size: 3rem;
  margin-bottom: 3rem;

  color: rgb(56, 50, 50);
}
main.hero a {
  font-size: 3rem;
  background-color: #64525263;

  border-radius: 3px;
  margin-top: 2rem;
  padding: 1rem 2rem;
  color: rgb(255, 255, 255);
}
main.hero a:hover {
  color: #2c2525;
}

/* MDSU */

.course {
  text-align: center;
  transition: all 0.3s ease;
}
.course a {
  font-size: 1.5rem;
  color: white;
}

.course img {
  width: 150px;
}
.course:hover {
  transform: scale(1.2) rotate(5deg);
}

/* Course inside */
.cname {
  text-align: center;
  font-size: 3rem;
}
.services ul {
  display: grid;
  margin-top: 6em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 6rem;
}
.services ul li {
  text-align: center;
}
.services ul li a {
  font-size: 2.5rem;
  color: #fff;
}
.services ul li a:hover {
  color: #2c2525;
}

.previous_paper {
  margin-top: 13rem;
  /* padding: 2rem; */
}
.previous_paper_heading {
  font-size: 2rem;
  margin-top: 10rem;
  text-align: center;
}

.previous_paper_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 12px grey;
  margin-inline: auto;
  width: 80vw;
  gap: 4rem;
}
.subject {
  padding: 5rem;
  font-size: 2rem;
  text-align: center;
}

.subject div {
  padding: 1rem;
  text-transform: lowercase;
  box-shadow: 0 5px 12px rgb(56, 50, 50);
}
.subject p {
  font-size: 2.5rem;
}
.subject a {
  margin: 1rem;
  color: #2c2525;
  display: block;
}
.subject a:hover {
  font-size: 1.9rem;
}

/* footer */

.footer-copyright {
  background: linear-gradient(45deg, #19c5e1, #f209fe);
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1150px) {
  main.hero h1 {
    font-size: 5rem;
  }
  main.hero h2 {
    font-size: 2.7rem;
  }
  main.hero a {
    font-size: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .nav-list {
    display: none;
  }

  .nav-list-menu {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    top: 10%;
    backdrop-filter: blur(5px);
    /* min-height: 50vh; */
    background: transparent;
  }
  .nav-list-menu a {
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    color: white;
  }
  .nav-list-menu a:hover {
    color: black;
    background: white;
  }
  .hamburger {
    display: block;
  }
  main.hero h1 {
    font-size: 3rem;
  }
  main.hero h2 {
    font-size: 2rem;
  }
  main.hero a {
    font-size: 2.3rem;
  }

  .services ul {
    display: block;
  }
  .services ul li {
    margin-bottom: 2rem;
  }
  .previous_paper_container {
    width: 100vw;
  }
}
